footer {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #04191D;
    width: 100%;
    height: 279px;
    padding: 32px 160px;    
}

#text_and_logo_in_footer {
    margin-bottom: 57px;
}

#text_in_footer {
    color: #FFFAFE;
    width: 352px;
    font-size: 16px;
}

#info_in_footer {
    color: #BFBFBF;
    font-size: 11px;
}

#legal_links
{
    a {
        margin-right: 16px;
        font-size: 11px;
    }
    color: #BFBFBF;
    
    margin-left: 100px;
    margin-bottom: -90px;
}

#social_links
{
    margin-left: 180px;
    margin-bottom: 57px;
}


.btn_social_links
{
    margin-right: 16px;
}