header {
    background: rgb(217, 217, 217, 1%);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px); /* для Safari */

    display: flex;
    justify-content:space-between;
    align-items: center;
    
    /* border: 1px solid rgba(255, 255, 255); */
    border-radius: 32px;

    margin-left: 64px;
    margin-right: 64px;
    margin-top: 32px;

    padding: 0 32px;

}

#right_part_in_header {
    margin-top: 5px;
}

#btn_cart
{
    margin-left: 25px;
}