@font-face {
  font-family: 'Fleunique404';
  src: url('/fonts/RubikBubbles-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=PT+Sans:wght@700&family=Rubik+Bubbles&display=swap');

@import "tailwindcss";

@theme {
  --font-fleunique: 'Fleunique404', sans-serif;
  --font-rubik-bubbles: 'Rubik Bubbles', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-pt-sans: 'PT Sans', sans-serif;

  --text-accent-headline: 480px;
  --text-large-button: 32px;
  --text-medium-button: 18px;
  --text-label: 18px;
  --text-headline-1: 64px;
  --text-headline-2: 36px;
  --text-headline-3: 22px;
  --text-headline-4: 18px;
  --text-headline-5: 16px;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
}

button,
input,
textarea,
select {
  font: inherit;
}